body {
  margin: 0;
  padding: 0;
}
div {
  overflow: hidden;
  box-sizing: border-box;
}

.grid-container {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}

.outer-grid {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 100%;
  border: 1px solid gray;
  background-color: black;
}
.outer-square {
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 90%;
  background-color: #ccc;
  margin: 5%;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.inner-grid {
  width: 33.3%;
  height: 33.3%;
  border: 1px solid black;
  display: table;
}
.inner-square {
  line-height: 100%;
  font-size: 50px;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.nought {
  background-image: url('../img/nought2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.cross {
  background-image: url('../img/cross2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.checked {
  pointer-events: none;
}

.retry {
  margin: 0;
}

.displayNone {
  display: none;
}

.button {
  position: relative;
  background-color: #0396fd;
  border-radius: 25px;
  font-size: large;
  color: black;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: '';
  background: #90ee90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.container {
  margin-top: 10%;
  height: 200px;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
}
.content {
  height: 100px;
  background: black;
}

.draggable {
  cursor: grab;
  margin-top: 100px;
  margin-left: 150px;
}

.drag-over {
  cursor: grab;
  /* border: dashed; */
  /* border-color: green;
  background-color: white; */
}
